    * {
        margin: 0;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    body {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgb(4, 4, 4) 1%, rgba(0, 0, 0, 1) 15%, rgb(4, 4, 4) 98%);
        background-repeat: no-repeat;
        min-width: 30vw;
        height: 180vh;
        width: 100vw;
        text-decoration: none;
        overflow-x: hidden;
    }
    
    .navigation {
        width: 400px;
        height: 70px;
        background-color: rgba(117, 117, 117, 0.479);
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;
    }
    
    .navigation ul {
        display: flex;
        width: 350px;
    }
    
    .navigation ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }
    
    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .navigation ul li p {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .navigation ul li p {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .navigation ul li a .icon {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }
    
    .navigation ul li p .icon {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: rgb(0, 0, 0);
    }
    
    .navigation ul li:hover a .icon {
        transform: translateY(-35px);
    }
    
    .navigation ul li:hover p .icon {
        transform: translateY(-35px);
    }
    
    .navigation ul li a .text {
        position: absolute;
        color: rgb(0, 0, 0);
        font-weight: 400px;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }
    
    .navigation ul li p .text {
        position: absolute;
        color: rgb(0, 0, 0);
        font-weight: 400px;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }
    
    .navigation ul li:hover a .text {
        opacity: 1;
        transform: translateY(10px);
    }
    
    .navigation ul li:hover p .text {
        opacity: 1;
        transform: translateY(10px);
        cursor: pointer;
    }
    
    .list1 {
        position: absolute;
        flex-direction: column;
        top: 6.25rem;
        left: 6rem;
        height: 8vh;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    .list1 li:hover {
        background-color: rgba(179, 179, 179, 0.445);
    }
    
    .list1 li {
        display: none;
        background-color: rgba(117, 117, 117, 0.479);
        padding: 10px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    button {
        position: relative;
        font-size: 3em;
        height: 7vh;
        color: rgb(0, 0, 0);
        width: 80%;
        margin-left: 1.1rem;
        background-color: rgba(117, 117, 117, 0.479);
    }
    
    h1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 30vw;
        font-size: 10vh;
        color: rgb(0, 0, 0);
        margin-top: 1vh;
        background-color: rgba(117, 117, 117, 0.479);
        border-radius: 10px;
        margin-left: 35vw;
    }
    
    h2 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 35vw;
        font-size: 3vh;
        color: rgb(0, 0, 0);
        margin-top: 1vh;
        background-color: rgba(117, 117, 117, 0.479);
        border-radius: 10px;
        margin-left: 32.5vw;
        text-align: center;
    }
    
    img {
        margin-left: 10vw;
        width: 50%;
        height: 50%;
    }
    
    ul li h3 {
        text-decoration: none;
    }
    
    .galery {
        min-width: 450px;
    }
    
    .logo {
        height: 26vh;
        margin-top: 0%;
        float: right;
        width: auto;
    }
    /*nastavenie gridov*/
    
    .container {
        margin-top: 3vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        align-items: stretch;
        justify-content: space-evenly;
        align-content: space-between;
        justify-items: center;
    }
    
    .container li img {
        width: 30vw;
        transition: 1s;
    }
    
    .container img {
        width: 20vw;
        height: auto;
    }
    
    h2,
    p {
        color: white;
    }
    
    .container li h3 {
        color: white;
        font-size: 2.5vh;
    }
    
    ul li img:hover {
        width: 32vw;
        height: auto;
        transition: 1s;
    }
    /*nastavenie pre footer*/
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        font-size: 1em;
        height: 5vh;
        background: linear-gradient(148.56deg, rgba(204, 204, 204, 0.07) 1.61%, rgba(196, 196, 196, 0.02) 107.63%);
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
    }
    
    footer a {
        color: white;
    }
    /*tablety/malé monitory*/
    
    @media (max-width: 1100px) {
        html {
            position: fixed;
            width: 100vw;
            overflow-x: hidden;
            height: 100vh;
        }
        body {
            width: 100%;
            height: 120%;
            overflow-y: visible;
        }
        .logo {
            display: none;
        }
        h1 {
            padding: 1vw 1vh;
            font-size: 6vh;
            text-align: center;
        }
        footer {
            width: 100%;
            padding-right: 3vw;
        }
    }
    /*väčšie mobily*/
    
    @media (max-width: 600px) {
        html {
            position: relative;
            overflow-x: hidden;
            width: 100vw;
            height: 100vh;
        }
        body {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    /*malé mobily*/
    
    @media (max-width: 450px) {
        .navigation {
            width: 300px;
        }
    }